.footer-wrapper {
  min-width: 500px;
  background-color: #3b455a;
  padding-left: 30px;
}
.Useful-link {
  border: 1px solid #3b455a;
}
.Icon {
  width: 400px;
  padding-top: 20px;
}
.Icon > a {
  margin-right: 40px;
  color: white;
  border-radius: 50%;
  border: 1px solid #fff;
  height: 30px;
  padding: 5px 7px 10px;
  transition: all 0.4s ease;
}
.Icon > a:hover {
  background-color: #fff;
  color: #84b4fe;
}
.logo {
  padding-top: 40px;
}

.Useful-Link > a,
.Contact-Info > p {
  display: flex;
  flex-direction: column;
  color: rgba(213, 213, 213, 0.6);
  text-decoration: none;
  margin-bottom: 10px;
}
.Useful-Link > a:hover {
  text-decoration: underline;
  color: white;
  transition: all 0.4s ease;
}
.titlee {
  padding-top: 35px;
  /* padding-bottom: 20px; */
  color: white;
}
/* .Contact-Info > p {
  display: flex;
  flex-direction: column;
  color: rgba(213, 213, 213, 0.6); */
/* line-height: 1.5px; */
/* } */
/* .Contact-Info {
  padding-bottom: 50px;
} */
